<?xml version="1.0"?>
<!--
/**
 *
 * @category   Ceicom
 * @package   Ceicom_Ebitintegration
 * @author      Jonatan <jonatan@ceicom.com.br>
 * @website    http://www.ceicom.com.br
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
	<modules>
		<Ceicom_Ebitintegration>
			<version>1.0.1</version>
		</Ceicom_Ebitintegration>
	</modules>
	<global>
		<blocks>
	     <ceicom_ebitintegration>
	         <class>Ceicom_EbitIntegration_Block</class>
	     </ceicom_ebitintegration>
	  </blocks>
		<models>
				<ceicom_ebitintegration>
						<class>Ceicom_EbitIntegration_Model</class>
				</ceicom_ebitintegration>
		</models>
		<helpers>
			<ceicom_ebitintegration>
				<class>Ceicom_EbitIntegration_Helper</class>
			</ceicom_ebitintegration>
		</helpers>
	</global>
	<frontend>
		<layout>
			<updates>
				<ceicom_ebitintegration>
					<file>ceicom/ebitintegration.xml</file>
				</ceicom_ebitintegration>
			</updates>
		</layout>
	</frontend>
	<default>
		<ebitintegration>
			<config>
				<habilitar>0</habilitar>
				<ebitintegration_storeid></ebitintegration_storeid>
				<ebitintegration_buscapeid></ebitintegration_buscapeid>
				<ebitintegration_popup>1</ebitintegration_popup>
			</config>
		</ebitintegration>
	</default>
</config>
